/* ------------------------------------------------------------------ */
/* View Transition
/* ------------------------------------------------------------------ */

@view-transition {
  navigation : auto;
  type       : none;
}

/* ------------------------------------------------------------------ */
/* Root
/* ------------------------------------------------------------------ */

:root {
  --color-background : light-dark(
    hsl(  0   0%  95% / 100%),
    hsl(  0   0%   5% / 100%)
  );
  --color-foreground : light-dark(
    hsl(  0   0%   5% / 100%),
    hsl(  0   0%  95% / 100%)
  );
  --color-accent : light-dark(
    hsl(220  50%  40% / 100%),
    hsl(220  50%  60% / 100%)
  );
}

/* ------------------------------------------------------------------ */
/* Reset
/* ------------------------------------------------------------------ */

*, *::before, *::after {
  box-sizing : border-box;
  margin     : 0;
  padding    : 0;
}

::selection {
  background-color : hsl(from var(--color-accent) h s l / 50%);
}

::marker {
  color : var(--color-accent);
}

/* ------------------------------------------------------------------ */

html {
  /* Color Scheme */
  color-scheme          : light dark;
  accent-color          : var(--color-accent);

  /* Background */
  background-color      : var(--color-background);

  /* Animations */
  interpolate-size      : allow-keywords;

  /* Scroll */
  scroll-behavior       : smooth;
  scroll-padding-block  : 3.00rem;
  scroll-padding-inline : 4.00rem;
  scrollbar-gutter      : stable;
}

body {
  /* Block */
  inline-size           : min(73.5rem, round(down, ( 100% - 2rem ), 3.5rem));
  margin-inline         : auto;

  /* Typography */
  font-family           : system-ui, sans-serif;
  font-feature-settings : "tnum" on;
  font-optical-sizing   : auto;
  text-rendering        : optimizeLegibility;
  text-size-adjust      : none;
  color                 : var(--color-foreground);
}

main {
  /* Display Type(s) */
  display               : block grid;

  /* Grid */
  grid-template-columns : auto 1fr;
  align-items           : center;
  gap                   : 3.00rem 1.00rem;

  /* Other */
  user-select           : none;
}

div[data-team] {

  /* Display Type(s) */
  display               : contents;

  /* Typography */
  text-align            : center;

  & figure {

    /* Position */
    position : relative;

    & img {
      block-size  : auto;
      inline-size : 3.00rem;
    }

    & figcaption {

      /* Block */
      inline-size : 100%;

      /* Position */
      position    : absolute;
    }
  }
}

div:has(> div[data-count]) {
  /* Display Type(s) */
  display         : block flex;

  /* Flex */
  flex-wrap       : wrap;
  gap             : 0.50rem;
}

div[data-count] {
  /* Position */
  position           : relative;

  /* Block */
  block-size         : 3.00rem;
  inline-size        : 3.00rem;
  place-content      : center;

  /* Border */
  border-width       : 0.125rem;
  border-style       : solid;
  border-color       : hsl(from var(--color-foreground) h s 50% / 100%);
  border-radius      : 0.25rem;

  /* Background */
  --color-background : light-dark(
    hsl(130  50%  70% / 100%),
    hsl(130  50%  30% / 100%)
  );
  background-color   : var(--color-background);

  &::after {
    /* Content */
    content          : attr(data-count);

    /* Position */
    position         : absolute;
    inset            : 0.20rem 0.20rem auto auto;

    /* Typography */
    font-size        : 0.80rem;
  }
}

div[data-count="0"] {
  /* Background */
  --color-background : transparent;

  &::after {
    content          : none;
  }
}

div[data-count="1"] {
  &::after {
    content          : none;
  }
}
