{{- define `main` }}
<div
  data-team  = "FWC"
  data-group = "0"
  data-index = "0"
  >
  <figure>
    {{- with resources.Get `logo/FWC.avif` }}
    <img
    src      = "{{ .RelPermalink }}"
    alt      = "Logo of FIFA World Cup 2026."
    width    = "{{ .Width }}"
    height   = "{{ .Height }}"
    />
    {{- end }}
    <figcaption>FWC</figcaption>
  </figure>
  <div>
    {{- range collections.Seq 0 19 }}
    <div
      id         = "FWC-{{ . }}"
      data-count = "0"
      >
      {{- . -}}
    </div>
      {{- end }}
  </div>
</div>
<div
  data-team  = "CC"
  data-group = "0"
  data-index = "1"
  >
  <figure>
    {{- with resources.Get `logo/CCC.avif` }}
    <img
    src      = "{{ .RelPermalink }}"
    alt      = "Logo of Coca‐Coca Company."
    width    = "{{ .Width }}"
    height   = "{{ .Height }}"
    />
    {{- end }}
    <figcaption>CC</figcaption>
  </figure>
  <div>
    {{- range collections.Seq 1 12 }}
    <div
      id         = "CC-{{ . }}"
      data-count = "0"
      >
      {{- . -}}
    </div>
      {{- end }}
  </div>
</div>
{{- range $team := resources.Get `teams.csv` | transform.Unmarshal (dict `targetType` `map` )  }}
<div
  data-team  = "{{ $team.code }}"
  data-group = "{{ $team.group }}"
  data-index = "{{ $team.index }}"
  >
  <figure>
    {{- with resources.Get ( fmt.Printf `logo/%s.avif` $team.code ) }}
    <img
    src      = "{{ .RelPermalink }}"
    alt      = "{{ $team.title }}’s flag."
    width    = "{{ .Width }}"
    height   = "{{ .Height }}"
    />
    {{- end }}
    <figcaption>{{ $team.code }}</figcaption>
  </figure>
  <div>
    {{- range collections.Seq 1 20 }}
    <div
      id         = "{{ $team.code }}-{{ . }}"
      data-count = "0"
      >
      {{- . -}}
    </div>
      {{- end }}
  </div>
</div>
{{- end }}
{{- end }}


{{- define `header` }}
<h1>FWC 2026</h1>
<div class="sheet-manager">
  <select id="sheet-selector" aria-label="Select sheet."></select>
  <button
    id                  = "sheet-menu-toggle"
    popovertarget       = "sheet-menu"
    popovertargetaction = "toggle"
    aria-label          = "Toggle popover menu."
    >
    <svg
      xmlns   = "http://www.w3.org/2000/svg"
      viewBox = "0 0 24 24"
      width   = "24px"
      height  = "24px"
    >
      <path
      stroke          = "currentColor"
      stroke-width    = "4"
      stroke-linecap  = "round"
      d               = "
        M  4  4  L 20  4
        M  4 12  L 20 12
        M  4 20  L 20 20
      ">
      </path>
    </svg>
  </button>
  <div
    id      = "sheet-menu"
    popover = "auto"
    >
    <button id="new-sheet"    aria-label="New sheet."   >New</button>
    <button id="rename-sheet" aria-label="Rename sheet.">Rename</button>
    <button id="share-sheet"  aria-label="Share sheet." >Share</button>
    <button id="delete-sheet" aria-label="Delete sheet.">Delete</button>
  </div>
</div>
{{- end }}


{{- define `footer` }}
{{- end }}


{{- define `dialogs` }}
<dialog id="share">
  <header>
    <h2>Share</h2>
    <button id="share-close" aria-label="Close dialog.">
      <svg
        xmlns   = "http://www.w3.org/2000/svg"
        viewBox = "0 0 24 24"
        width   = "24px"
        height  = "24px"
      >
        <path
        stroke          = "currentColor"
        stroke-width    = "2"
        stroke-linecap  = "round"
        d               = "
          M  8  8  L 16 16
          M 16  8  L  8 16
        ">
        </path>
      </svg>
    </button>
  </header>
  <pre class="content"></pre>
  <div class="actions">
    <button id="share-copy"     class="action" aria-label="Copy to clipboard.">Copy to Clipboard</button>
    <button id="share-whatsapp" class="action" aria-label="Share to Whatsapp.">Share to WhatsApp</button>
  </div>
</dialog>
{{- end }}
